body{
    background: #f6f8ff;

}
/* shared css */



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-everywhere {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: bold;
  cursor:pointer;
}
/* nav style */
.navbar {
  width: 100%;
}

.nav-container {
  max-width: 1140px;
  height: 151px;
  margin: 0 auto;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 28px;
  font-weight: 900;
  color: #4f46e5;
}
/* hero style */
.hero {
  width: 100%;
  min-height: 698px;

  background-image: url("../Assets/Hero-bg.png");
  background-repeat:  repeat;        
  background-size: contain;         
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.hero-content {
  margin-top: 158px; 
  text-align: center;
}

.hero-content h1 {
  font-size: 65px;
  line-height: 1.2;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 30px;
}

/* action style */

.action-section {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  background: #f6f8ff;
}


.action-container {
  width: 1140px;
  height: 328px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}


.action-text {
  width: 420px;
}

.action-text h2 {
  font-size: 42px;
  margin-bottom: 12px;
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}

.action-text p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
}
.action-image img {
  width: 260px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}













