body{
    background: #f6f8ff;

}
/* shared css */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-everywhere {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: bold;
  cursor:pointer;
}
/* nav style */
.navbar {
  width: 100%;
}

.nav-container {
  max-width: 1140px;
  height: 151px;
  margin: 0 auto;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 28px;
  font-weight: 900;
  color: #4f46e5;
}
/* hero style */
.hero {
  width: 100%;
  min-height: 698px;

  background-image: url("../Assets/Hero-bg.png");
  background-repeat:  repeat;        
  background-size: contain;         
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.hero-content {
  margin-top: 158px; 
  text-align: center;
}

.hero-content h1 {
  font-size: 65px;
  line-height: 1.2;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 30px;
}

/* action style */

.action-section {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  background: #f6f8ff;
}


.action-container {
  width: 1140px;
  height: 328px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}


.action-text {
  width: 420px;
}

.action-text h2 {
  font-size: 42px;
  margin-bottom: 12px;
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}

.action-text p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
}
.action-image img {
  width: 260px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

  /* stats style */
.stats-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0;
  

}


.stats-container {
  width: 850px;
  height: 328px;
  background: rgba(78, 71, 255, 0.1); 
  border-radius: 24px;
  padding: 90px 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}


.stats-title {
  text-align: center;
  font-size: 38px;
  color: #252432;
  font-weight: bold;
}

.stats-items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stat h2 {
  font-size: 80px;
  color: #4E47FF;
  margin-bottom: 8px;
  font-weight: bold;
}

.stat p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  
}
/* Testimonials */
.testimonial-section {
  padding: 60px 20px;
 
}

.testimonial-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.testimonial-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgba(37, 36, 50, 1);
}

.testimonial-cards {
  display: flex;
  gap: 20px;
}

.testimonial-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
}

.stars {
  color: gold;
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-card p {
  font-size: 14px;
  margin: 10px 0 15px;
}

.testimonial-user {
  display: flex;
  gap: 20px;
}

.testimonial-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.rev{
  display: flex;
  flex-direction:column ;
}
.rev span{
  color: rgba(117, 117, 117, 1);
}
.rev p{
  color: rgba(179, 179, 179, 1);
}


/* Contact Section */
.contact-section {
  background: #f6f8ff;
  padding: 80px 20px;
}

.contact-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  gap:115px;
  justify-content: space-around;
}

.contact-left h2 {
  font-size: 97px;
  font-weight: bold;
  line-height: 1.1;

}


.contact-form {
  display: flex;
  flex-direction: column;
  width:497px;
  height:490px;
}

.contact-form label {
  font-size: 14px;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: inherit;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}



















