body{
    background: #f6f8ff;

}
/* shared css */



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-everywhere {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: bold;
  cursor:pointer;
}
/* nav style */
.navbar {
  width: 100%;
}

.nav-container {
  max-width: 1140px;
  height: 151px;
  margin: 0 auto;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 28px;
  font-weight: 900;
  color: #4f46e5;
}













